.no-sidebar {
    .content {
        margin-left: 0 !important;
    }
    .header-navbar {
        width: calc(100% - 4.4rem);
    }
}


.text-gray {
    color: #777 !important;
}
.text-lightgray {
    color: #b1b1b1 !important;
}