.no-sidebar {
    .content {
        margin-left: 0 !important;
    }
    .header-navbar {
        width: calc(100% - 4.4rem);
    }
}


.text-gray {
    color: #777 !important;
}
.text-lightgray {
    color: #b1b1b1 !important;
}

.img-40 {
    max-width: 40px;
    max-height: 40px;
}

.img-100 {
    max-width: 100px;
    max-height: 100px;
}

[dir] .card .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}