.no-sidebar {
  .content {
    margin-left: 0 !important;
  }
  .header-navbar {
    width: calc(100% - 4.4rem);
  }
}

.text-gray {
  color: #777 !important;
}
.text-lightgray {
  color: #b1b1b1 !important;
}

.img-40 {
  width: 44px;
  height: 40px;
  object-fit: contain;
}

.rounded-full {
  border-radius: 50%;
}

.img-100 {
  max-width: 100px;
  max-height: 100px;
}

[dir] .card .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-tic {
  position: relative;
  margin-top: 5px;
}

.product-tic::after {
  position: absolute;
  content: "";
  top: -3px;
  left: -8px;
  width: 15px;
  height: 15px;
  background-color: #786efd;
  color: #fff;
  border-radius: 50%;
}

.rulesweightoptions h5 {
  margin-bottom: 0;
}

.state-orders-count .table-responsive {
  height: 340px !important;
}

.rules .form-group {
  margin-bottom: 0;
}

.rules .MuiAutocomplete-root {
  border: 1px solid #666;
  border-radius: 5px;
  margin-top: 0 !important;
}

.rules .MuiOutlinedInput-root {
  padding: 0 !important;
  padding-right: 20px;
}

.seller-navbar-user {
  left: 0px !important;
  right: -22px !important;
}

.overflow-scroll-y {
  overflow-y: scroll;
}

.h-76 {
  height: calc(76vh - 5.4rem) !important;
}

.h-63 {
  height: calc(63vh - 5.4rem) !important;
}

.state-orders-count .table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.state-orders-count .table-responsive::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.state-orders-count .table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666;
}

.buyer-discount-sidebar-users::-webkit-scrollbar,
.buyer-discount-sidebar-main::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.buyer-discount-sidebar-users::-webkit-scrollbar-track,
.buyer-discount-sidebar-main::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.buyer-discount-sidebar-users::-webkit-scrollbar-thumb,
.buyer-discount-sidebar-main::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
.buyer-discount-sidebar-users::-webkit-scrollbar-thumb:hover,
.buyer-discount-sidebar-main::-webkit-scrollbar-thumb:hover  {
  background: #666;
}

.email-application .email-app-sidebar{
  height: calc(100vh - 12rem) !important;
}

.h-100-percent {
  height:100% ;
}

// .select-product-input .css-yk16xz-control{
//   min-height: 47px !important;
//   height:47px !important;
// }

// .select-product-input .css-g1d714-ValueContainer{
//   padding: 8px 8px;
// }

// .select-product-input .css-1uccc91-singleValue{
//   width: 100% ;
// }

.p-half{
  padding: 0.5rem !important;
  padding-left: 0.2rem !important;
}

.p-6{
  padding: 0.6rem !important;
}

.border-top-0{
  border-top: 0;
}

.border-bottom-0{
  border-bottom: 0;
}

.border-left-0{
  border-left: 0;
}

.border-right-0{
  border-right: 0;
}

.tab-border{
  border: 1px solid #7367f0;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 0px;
  border-top-left-radius:0px;
}


.custom-bg-color{
  background: linear-gradient(118deg, #ea5455, rgba(234, 84, 85, 0.7));
}

.mb-h5-0 h5{
  margin-bottom: 0 !important;
}

.discount-input{
  height: calc(1.25 * 1em + 2.4rem + 1px);
}

$misc-inner-max-width: 750px;

.misc-wrapper {
  display: flex;
  flex-basis: 100%;
  // min-height: 100vh;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .misc-inner {
    position: relative;
    max-width: $misc-inner-max-width;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 0;
    .brand-text {
      font-weight: 600;
    }
  }
}


.h-30{
  height: 63.5vh !important;
}